{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    primary: '#1E3A8A', // Deep blue
                    secondary: '#60A5FA', // Light blue
                    accent: '#3B82F6', // Bright blue
                },
            },
        },
    }
</script>
</head>
<body>
  {% block messages %}{% endblock messages %}
    {% block content %}
  
  {% endblock %}
</body>
</html>