{% extends "User/base.html"%}
{% block content %}


<nav class="bg-green-700 border-white dark:bg-green-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="{% url "index"%}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sunshine Furnitures</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            <form class="max-w-md mx-auto" action="{% url "search" %}">   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" name="search" id="search" value="{{ search_term }}" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Search Mockups, Logos..." required />
                    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Search</button>
                </div>
            </form>
            {% if user.is_authenticated %}
            {%if request.user.role == "buyer"%}
            <a href="{% url "buyerdashboard"%}" class="text-sm  text-white dark:text-white hover:underline">Dashboard</a>
            {%endif%}
            {%if request.user.role == "seller"%}
            <a href="{% url "sellerdashboard"%}" class="text-sm  text-white dark:text-white hover:underline">Dashboard</a>
            {%endif%}
            <a href="{% url "logout"%}" class="text-sm  text-white dark:text-white hover:underline">Logout</a>
            {% else %}
                <a href="{% url "signup"%}" class="text-sm  text-white dark:text-white hover:underline">Create Account</a>
                <a href="{% url "signin"%}" class="text-sm  text-white dark:text-white hover:underline">Login</a>
            {% endif %}
            <a href="{% url 'view_cart' %}" class="relative inline-block">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
              </svg>
              <span class="text-xs text-red-800 absolute top-0 font-bold right-0">{{cart_count}}</span>
            </a>
              
        </div>
    </div>
</nav>
{% comment %} <nav class="bg-green-50 dark:bg-green-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex items-center flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Singles</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Sette</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Tables</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Chairs</a>
                </li>
            </ul>
        </div>
    </div>
</nav> {% endcomment %}

<div class="bg-white border border-gray-200 mt-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-4 rounded-lg shadow">
    {% for product in products %}
    <div class="border-gray-200">
        <a href="{% url "product_detail" product.id%}">
            <img class="w-32 h-32 object-cover mx-auto rounded-lg shadow-lg" src="{{ product.image.url|default:'#' }}" alt="{{ product.name }}" />
        </a>
        <div class="p-2 text-center">
            <a href="{% url "product_detail" product.id%}">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ product.name }}</h5>
            </a>
            <p class="text-gray-500">₦{{ product.price|floatformat:2 }}</p>
            <div class="flex items-center mt-2">
            {% if product.avg_rating %}
            <div class="flex mt-3 ml-24 mb-2">
                {% for i in "12345" %}
                    {% if i <= product.avg_rating|floatformat:0 %}
                        <!-- Filled star -->
                        <svg class="w-4 h-4 text-yellow-500" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 .587l3.668 7.568L24 9.432l-6 6.117 1.417 8.451L12 18.899l-7.417 4.101L6 15.549 0 9.432l8.332-1.277L12 .587z" />
                        </svg>
                    {% else %}
                        <!-- Empty star -->
                        <svg class="w-4 h-4 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12 .587l3.668 7.568L24 9.432l-6 6.117 1.417 8.451L12 18.899l-7.417 4.101L6 15.549 0 9.432l8.332-1.277L12 .587z" />
                        </svg>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p class="text-gray-400 ml-24 mb-2">No ratings yet</p>
        {% endif %}
            </div>
            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    Add to Cart
                </button>
            </form>
            <form action="{% url 'add_to_wishlist' product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="text-green-800 hover:text-red-500 dark:text-green">
                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
    {% empty %}
    <p class="text-center col-span-full text-gray-500">No products available.</p>
    {% endfor %}
</div>

    
</div>

 

{% endblock content %}