{% extends "User/base.html"%}
{% block content %}


<nav class="bg-green-700 border-white dark:bg-green-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <a href="https://flowbite.com" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Sunshine Furnitures</span>
        </a>
        <div class="flex items-center space-x-6 rtl:space-x-reverse">
            {% if user.is_authenticated %}
            {%if request.user.role == "buyer"%}
            <a href="{% url "buyerdashboard"%}" class="text-sm  text-white dark:text-white hover:underline">Dashboard</a>
            {%endif%}
            {%if request.user.role == "seller"%}
            <a href="{% url "sellerdashboard"%}" class="text-sm  text-white dark:text-white hover:underline">Dashboard</a>
            {%endif%}
            <a href="{% url "logout"%}" class="text-sm  text-white dark:text-white hover:underline">Logout</a>
            {% else %}
                <a href="{% url "signup"%}" class="text-sm  text-white dark:text-white hover:underline">Create Account</a>
                <a href="{% url "signin"%}" class="text-sm  text-white dark:text-white hover:underline">Login</a>
            {% endif %}
            <a href="{% url 'view_cart' %}" class="relative inline-block">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
              </svg>
              <span class="text-xs text-red-800 absolute top-0 font-bold right-0">{{cart_count}}</span>
            </a>
              
        </div>
    </div>
</nav>
{% comment %} <nav class="bg-green-50 dark:bg-green-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex items-center flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Singles</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Sette</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Tables</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:underline">Chairs</a>
                </li>
            </ul>
        </div>
    </div>
</nav> {% endcomment %}

<div class="bg-white border border-gray-200 mt-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-4 rounded-lg shadow">
    {% for product in products %}
    <div class="border-gray-200">
        <a href="{% url "product_detail" product.id%}">
            <img class="w-32 h-32 object-cover mx-auto rounded-lg shadow-lg" src="{{ product.image.url|default:'#' }}" alt="{{ product.name }}" />
        </a>
        <div class="p-2 text-center">
            <a href="{% url "product_detail" product.id%}">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ product.name }}</h5>
            </a>
            <p class="text-gray-500">₦{{ product.price|floatformat:2 }}</p>
            <form action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    Add to Cart
                </button>
            </form>
        </div>
    </div>
    {% empty %}
    <p class="text-center col-span-full text-gray-500">No products available.</p>
    {% endfor %}
</div>

    
</div>

 

{% endblock content %}