{% extends "User/base.html"%}
{% block content %}

<div class="products">
    <a href="{% url 'index' %}" class="inline-flex mb-4 items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Back</a>
    {% if products %}
        <h2 class="text-2xl">Search Results:</h2>
        <ul>
            {% for product in products %}
            <div class="bg-white border border-gray-200 mt-5 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 px-4 rounded-lg shadow">
                <a href="{% url "product_detail" product.id%}">
                    <img class="w-32 h-32 object-cover mx-auto rounded-lg shadow-lg" src="{{ product.image.url|default:'#' }}" alt="{{ product.name }}" />
                </a>
                <div class="p-2 text-center">
                    <a href="{% url "product_detail" product.id%}">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ product.name }}</h5>
                    </a>
                    <p class="text-gray-500">₦{{ product.price|floatformat:2 }}</p>
                    <form action="{% url 'add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                            Add to Cart
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No products found matching "{{ search_term }}"</p>
    {% endif %}
</div>

{% endblock %}